body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("how_to_train_your_dragon_3_the_hidden_world_2019_4k_8k.jpg");
    background-repeat:no-repeat; 
    background-size: cover;
    color: rgb(255, 255, 255);
    
}

header {
    text-align: center;
    margin-top: 50px;


}

header h1 {
    margin: 0;
}

section {
    margin: 20px;

}


h2 {
text-align: center;

}

.sárkány{
    text-align: right;
    color:red
}


body {margin:0;}

body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #7d0b0b;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}
