.zau {
    text-align: zau;
  }
  
h1 {
    border: 3px solid black;
}

body {
    background-image: url(kep.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    
  }

  h4 {
    margin: 1cm;
    padding-right: 6cm;
    padding-left: 6cm;
  }

  table td {
    border: 1px solid white;
    text-align: center;
  }
  
  table th {
    border: 1px solid white;   
    text-align: center;
  }

  body {
    color: white;
  }

  .tab {
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    justify-content: zau;
    align-content: zau;
    align-items: zau;  
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    flex: 25%;
    max-width: 25%;
    padding: 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    border: 2px solid white;
  }